/* Common */
.text {
    font-weight: bold;
    background-color: #ff0;
    color: #000;
    margin: 20px;
}
.align {
    font-weight: bold;
    margin: 20px;
}

.box {
    width: 100px;
    height: 100px;
}

.practice-box{
    display: flex;
    border: 1px solid #000;
    margin: 20px;
    width: 600px;
    box-sizing: border-box;

}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}


/* Display Flex */

/* Properties */
.practice-1 {
    display: flex;
}

.practice-2 {
    justify-content: space-between;
}

.practice-3 {
    justify-content: flex-start;
}

.practice-4 {
    justify-content: flex-end;
}

.practice-5 {
    display: flex;
    justify-content: center;
}

.practice-6 {
    justify-content: space-around;
}

.practice-7 {
    justify-content: space-evenly;
}

.practice-8 .green,
.practice-9 .green {
    width: 30%;
}

.practice-8 .blue,
.practice-9 .blue{
    width: 70%;
}

.practice-9 .box  {
    display: flex;  
    justify-content: space-around;
    align-items: center;
}

.practice-9 .red {
    width: 50px;
    height: 50px;
}